@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Prima volta qui? Crea il tuo foglio di lavoro cliccando il pulsante sotto.</h3>
    <button type="button" class="btn btn-success">Inizia!</button>
</div>
